<div class=" max-w-3xl shadow-md w-screen mx-6 rounded-md p-2 border border-neutral-200 cursor-pointer">
  <h3 class=" truncate font-medium flex justify-between">{{ title }} <button *ngIf="isADM" (click)="delete()"><i class=" fa-solid fa-xmark"></i></button></h3>
  <h4 class=" text-sm">{{ host }}</h4>
  <div class=" flex items-center gap-2 mt-2 text-sm">
    <i class="fa-regular fa-clock"></i>
    <span>{{ date | date:"yyyy-LL-dd" }}</span>
    <span>{{ start | date:"HH:mm:ss" }} - {{ end | date:"HH:mm:ss" }}</span>
  </div>
</div>